.ag-theme-balham {
    width: 80%;  
    height: 200px;  
   
  }
  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 


.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.modal-content label {
  display: block;
  margin-bottom: 8px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.modal-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button[type="button"] {
  background-color: #dc3545; 
}




.modal-content button:hover {
  opacity: 0.9;
}
} 

.mat-mdc-table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
  min-width: 50%;
  height: auto;
  padding: 5px;
  /* margin: 0 auto;  */

  margin-top: 40px;
}
.mat-mdc-header-row

{
 
      background-color: #7c878e;
      border-bottom: 1px solid #7c878e;
      border-radius: 3px;
      color: #fff;
  
 
}
 tr:nth-child(even) td {
  background-color: #f0eeeb;
  border-right: 1px solid #f0eeeb;
}

tr:nth-child(odd) td {
  background-color:white;
  border-right: 1px solid #f0eeeb;
}
/* .nav{
  justify-content: space-between;
  
  display:flex;
  
}
span{
  padding-right: 0.5rem;
} */
.down{
  margin-top: 20px;
}
.mat-sidenav {
  width: 200px;
  background-color: rgb(173, 168, 183);
}
.mat-sidenav-content{
  height: 100%;


}
 .down2{
  margin-top: 40px;
  height:40%;
 }